#heading{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	font-family: 'special Elite', cursive;
}

.sub-heading{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Special Elite', cursive;
}

body{
	background-color: #FFFFFF;
}

.paragraph{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 108%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}

.gif{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#links{
	font-family: 'special Elite', cursive;
	font-size:150%;
	width: 75%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


a:visited{
	color: #0B2E59;
}

a:hover{
	color: #FF0066;
}

.LK{
	font-family: 'special Elite', cursive;
	text-decoration: none;
	font-size: 150%;
	color: #556270;

}



.proLink{
	text-align: center;
	margin-top: 5%;
	
}

#HLink{
	margin-top: 5%;
}


#back, #headLink{
	color: inherit;
	text-decoration: none;
}